// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-color:#3c4245;
$font-color-dark: #000;

$primary-color: #008dc9;

//secondary colors
$secondary-color: #3c9da6;
$secondary-color-orange: #d86422;
$secondary-color-green: #91c841;
$secondary-color-light-orange: #f89f6b;
$secondary-color-pink: #A76389;

